.wrapper{
    margin:0 200px;
    min-height: 100vh;
}
.Welcome {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 25px ;
}
.Welcome h2{
    font-weight: 400;
}
.table{
    width: 100%;
}
.table table{
    width: 100%;
    border: 1px solid #94a3b8;
    border-radius: 10px;
}
th{
    font-weight: 500;
}
tr{
    text-align: center;
    height: 40px;
    border-bottom: 1px solid black;
}
.create-user{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
}
.create-user .search-field{
    height: 25px;
    padding-left: 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #000;
    margin-right: 10px;
}
.create-user button{
    padding: 7px;
    color: #fff;
    background-color: #008cff;
    outline: none;
    border: none;
    border-radius: 3px;
    cursor: pointer;

}
td button{
    width: 70px;
    height: 27px;
    background-color: #3b82f6;
    outline: none;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.create_user{
    width: 100%;
    z-index: 5;
    position: relative;
    display: flex;
    align-items:center;
    justify-content: center;
    filter: blur(0.2px);
}
#true{
    filter: blur(10px);
    z-index: -1;
}
.close_btn{
    float: right;
    background-color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
}
.logout{
    margin-left: 10px;
    background-color: rgb(255, 230, 230)!important;
    color: red!important;
    transition: 0.3s;
}
.logout:hover{
    background-color: rgb(255, 107, 107)!important;
    color: #fff!important;
}