#upload{
    display: none;
}
form img{
    width: 100px;
    height: 100px;
}
form h2{
    text-align: center;
    margin-bottom: 20px;
}
.profileImg{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.profileImg img {
    border-radius: 50%;
} 
.profile{
    display: block;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 5px;
    border-radius: 3px;
}
.editOption{
    float: right;
}
.logout-home{
    background-color: rgb(255, 230, 230)!important;
    color: rgb(255, 61, 61)!important;
    width: 100%;
    cursor: pointer;
    transition: 0.3s;
}
.logout-home:hover{
    background-color: rgb(255, 96, 96)!important;
    color: #fff!important;
}